<!DOCTYPE html>
<html lang="en">
  <head>
    <title>REGRESI LINEARS</title>
  </head>
  <body>
    <h1>Penerapan REGRESI LINEARS</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      Upload Dataset (csv): <input type="file" name="file" accept="csv" required> <br>
      Masukkan Data uji (%): <input type="text" name="data_uji" required><br>
      Masukkan Luas Panen (m2): <input type="text" name="M2" required><br>
      Masukkan Curah Hujan (mm): <input type="text" name="mm" required><br>
      Masukkan Kelembapan (%): <input type="text" name="%" required><br>
      Masukkan Suhu rata-rata (C): <input type="text" name="(C)" required><br>
      <button type="submit">Prediksi</button>
    </form>
  </body>
</html>